.skills-section {
  padding: 60px 0px;
  text-align: center;
  background-color: #1a1a1a;
  overflow-y: hidden;
}

.skills-section .section-title {
  font-size: 2.8em;
  margin-bottom: 0px;
  color: #69b2ff;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 2fr));
  gap: 10px;
  max-width: 1223px;
  margin: 9px auto;
  padding: 0px 20px;
}

.skill-card {
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.skill-card h3 {
  font-size: 1.5em;
  color: darkgrey;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.skill-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-card ul li {
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
  color: #555555;
}


.skill-card ul li:before {
  content: '\2713';
  color: #28a745;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
}